@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-input {
  width: 80%;
}

.swal2-input[type="select"] {
  font-family: "Roboto", sans-serif !important;
  font-size: 300 !important;
}

.custom-font-swal {
  font-family: "Roboto", sans-serif !important;
}

.custom-input-swal {
  font-family: "Roboto", sans-serif !important;
  background-color: white !important;
  color: black !important;
}
